.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  padding: 27px 32px;
  color: #9fa2b4;
  &__block {
    display: flex;
  }
  &__count {
    margin-right: 24px;
  }
  &__perpage {
    margin-right: 8px;
  }
  &__control {
    display: flex;
    gap: 30px;
    cursor: pointer;
    img {
      transition: 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
