.input {
  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
  }
  &__label {
    font-size: 12px;
    line-height: 17px;
    font-weight: 700px;
    color: #9fa2b4;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  &__field {
    width: 100%;
    height: 42px;
    border: 1px solid #f0f1f7;
    border-radius: 8px;
    padding: 0 16px;
    background: #fcfdfe;
    &::placeholder {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #a4a6b3;
    }
  }
  &__password__wrapper {
    position: relative;
    width: 100%;
  }
  &__password__show {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
    transition: 0.3s;
    cursor: pointer;
  }
}
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
