.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3751ff;
  color: #fff;
  padding: 15px 0;
  width: 100%;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
  margin-bottom: 32px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
  }
  &--transparent {
    border: none;
    outline: none;
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
    color: #3751ff;
    background-color: transparent;
    box-shadow: none;
    margin-left: auto;
    cursor: pointer;
  }
}
