.form {
  width: 100%;
  min-width: 350px;
  max-width: 380px;
  background-color: #fff;
  padding: 40px 32px;
  border-radius: 8px;
  box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.24);
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 12px;
  }
  &__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #a4a6b3;
    margin-bottom: 48px;
  }
  &__footer {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  &__question {
    color: #a4a6b3;
  }
  &__change {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #3751ff;
    cursor: pointer;
  }
}
