// .App {
//   text-align: center;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   gap: 30px;
//   height: 100vh;
//   background-color: #363740;
// }
.auth-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #363740;
  min-height: 100vh;
}

.container {
  margin-right: 30px;
  margin-left: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 100%;
}

.white-container {
  padding-top: 37px;
  margin-top: 50px;
  background-color: #fff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
}

.table__container {
  overflow-x: auto;
  max-height: 70vh;
}

.widgets__container {
  display: flex;
  gap: 30px;
}

.brs8 {
  border-radius: 8px;
}

.flex-grow1 {
  flex-grow: 1;
}
.m0-auto {
  margin: 0 auto;
}
.ml-auto {
  margin-left: auto;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

fieldset {
  border: none;
}
fieldset[disabled] {
  opacity: 0.3;
}
