.logo {
  margin-bottom: 32px;
  &__img {
    width: 48px;
    height: 48px;
  }
  &__text {
    color: #a4a6b3;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
  }
  &--horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 32px;
      height: 32px;
      margin-right: 12px;
    }
  }
}
