.file-input {
  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
  }
  &__field {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(159, 162, 180, 0.5);
    transition: 0.1s;
    cursor: pointer;
    &:hover {
      transform: scale(1.03);
      background-color: #3751ff;
      opacity: 0.8;
    }
  }
  &__drag {
    transition: 0.1s;
    transform: scale(1.03);
    background-color: #3751ff;
    opacity: 0.8;
  }
  &__title {
    font-size: 14px;
    line-height: 50px;
    font-weight: 500;
  }
}
