.medium-widget {
  background-color: #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
  &__header {
    display: flex;
  }
  &__title {
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  &__subtitle {
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
  }
  &__group {
    color: #9fa2b4;
  }
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  &__item {
    padding-top: 20px;
    padding-bottom: 18px;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    &:not(:last-child) {
      border-bottom: 1px solid #dfe0eb;
    }
    &-title {
      flex-grow: 1;
    }
    &-value {
      color: #9fa2b4;
    }
  }
}
