.header {
  margin-top: 30px;
  &__inner {
    display: flex;
  }
  &__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    flex-grow: 1;
  }
}

.user {
  display: flex;
  align-items: center;
  border-left: 1px solid #dfe0eb;
  padding-left: 32px;
  &__name {
    margin-right: 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
  &__avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
  }
}
